html, body {
    background-color: #f1b67a;
    scroll-behavior: smooth;
}

header {
    height: 150px;
    background-image: url("https://images.wallpaperscraft.com/image/books_shelf_library_123516_2560x1080.jpg");

}

.page-title {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 2px;
    color: #f1b67a;
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 5px #9b4c32;

}

/*Styling navigation*/

.navbar {
    font-size: 30px;
}

.navbar-background {
    background-color: #9b4c32 !important;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #1b1e21 !important;
}

/*Styling the toast*/

.over {
    position: absolute;
    width: 800px;
    top: 65px;
    left: 5px;
    z-index: 1;
}

.margin-bottom {
    margin-bottom: 200px;
}

/*Styling the scroll to top button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border: #1b1e21 2px solid;
    outline: none;
    background-color: #e07a5f;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 35px;


}

#myBtn:hover {
    background-color: #f1b67a;
}

/*Styling the footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #f1b67a, #e07a5f);
    opacity: 0.8;
}

.social-links {
    margin-bottom: 10px;
}

.fab {
    border: 3px solid;
    border-radius: 25%;
    padding: 3px;
    transition: all 0.5s ease-in-out;
}

.fab:hover {
    background-color: #e07a5f;
    transition: all 0.5s ease-in-out;
}

.fa-facebook {
    color: #4267b1;
    background-color: white;
}

.fa-github {
    color: black;
    background-color: white;
}

.fa-linkedin {
    color: #0073af;
    background-color: white;
}

/*Form Styling*/

form {
    text-align: center;
    padding: 20px 0 100px 0;
    width: 50%;
    margin: 0 auto;
}

label {
    font-size: 30px;
}

#genre {
    width: 25%;
    margin: 0 auto;
}


/*Styling the different resolutions*/

@media (max-width: 769px) {
    form {
        width: 80%;
        padding: 5px 0 100px 0;
    }
    #genre {
    width: 30%;}
    .og-details a, .og-details #delete-button {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .page-title {
        font-size: 55px;
        text-shadow: 5px 5px black;
    }
     #genre {
    width: 60%;}
}

@media (max-width: 361px) {
    .page-title {
        font-size: 45px;
    }

    .social-links .list-inline-item {
        margin: 0;
    }
}
