{% extends 'base.html' %}
{% block page_title %}Fantasy page{% endblock %}
{% block navbar_list_element %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">All</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('fantasy') }}">Fantasy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('horror') }}">Horror</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('thriller') }}">Thriller</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recommendation') }}">Recommend a book</a>
    </li>{% endblock %}
{% block content %}

    <div class="container margin-bottom">
        <!-- Codrops top bar -->
        <div class="main">
            <ul id="og-grid" class="og-grid">
                {% for item in books %}
                    {% if item.genre=='Fantasy' %}
                        <li>
                            <a
                                    data-title="{{ item.title }}"
                                    data-largesrc="{{ item.cover_picture_link }}"
                                    data-description="{{ item.recommendation }}"
                                    href="{{ url_for('fill_out_update', item_id=item._id) }}"
                                    data-target="#{{ item._id }}"
                            >
                                <img src="{{ item.cover_picture_link }}" alt="Images" height="250px" width="150px">

                            </a>
                            {#                    Modal#}
                            <div class="modal fade" id="{{ item._id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure about deleting
                                                this
                                                book?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Clicking on the delete button you will permanently erase from the database
                                            the
                                            book
                                            called: {{ item.title }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <a href="{{ url_for('delete', item_id=item._id) }}">
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}